name: Update nm3u8dl-re Cask

on:
  schedule:
    - cron: '0 0 1 */3 *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-cask:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get Info
      id: info
      run: |
        json=$(curl -s "https://api.github.com/repos/nilaoda/N_m3u8DL-RE/releases/latest")
        version=$(echo "$json" | jq -r .tag_name | sed 's/^v//')
        
        filename=$(echo "$json" | jq -r '.assets[] | select(.name | contains("osx-arm64")).name')
        file_date=$(echo "$filename" | grep -oE '[0-9]{8}' || echo "00000000")
        
        echo "VERSION=$version" >> $GITHUB_ENV
        echo "DATE=$file_date" >> $GITHUB_ENV

    - name: Check version
      run: |
        current=$(grep -m1 'version "' Casks/nm3u8dl-re.rb | cut -d '"' -f 2)
        current_url_date=$(grep -oE '_[0-9]{8}\.tar' Casks/nm3u8dl-re.rb | grep -oE '[0-9]{8}' || echo "000")
        
        if [ "$current" = "${{ env.VERSION }}" ] && [ "$current_url_date" = "${{ env.DATE }}" ]; then
          echo "SKIP=true" >> $GITHUB_ENV
        else
          echo "SKIP=false" >> $GITHUB_ENV
        fi

    - name: Update Cask
      if: env.SKIP == 'false'
      run: |
        v="${{ env.VERSION }}"
        d="${{ env.DATE }}"
        
        url_arm="https://github.com/nilaoda/N_m3u8DL-RE/releases/download/v$v/N_m3u8DL-RE_v${v}_osx-arm64_${d}.tar.gz"
        url_int="https://github.com/nilaoda/N_m3u8DL-RE/releases/download/v$v/N_m3u8DL-RE_v${v}_osx-x64_${d}.tar.gz"
        
        sha_arm=$(curl -L -s "$url_arm" | sha256sum | awk '{ print $1 }')
        sha_int=$(curl -L -s "$url_int" | sha256sum | awk '{ print $1 }')
        
        # Update Version
        sed -i "s/version \".*\"/version \"$v\"/" Casks/nm3u8dl-re.rb
        
        # Update URL line
        sed -i "s|url \".*\"|url \"https://github.com/nilaoda/N_m3u8DL-RE/releases/download/v#{version}/N_m3u8DL-RE_v#{version}_osx-#{arch}_${d}.tar.gz\"|" Casks/nm3u8dl-re.rb
        
        # Update SHAs
        sed -i "s/sha256 arm:   \".*\"/sha256 arm:   \"$sha_arm\"/" Casks/nm3u8dl-re.rb
        sed -i "s/intel:  \".*\"/intel:  \"$sha_int\"/" Casks/nm3u8dl-re.rb
        
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git commit -am "Update nm3u8dl-re Cask to $v ($d)"
        git push
