name: Update Shaka-Packager Cask

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-cask:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get Latest Version
      id: get_version
      run: |
        # Récupère la dernière version via l'API GitHub
        latest_version=$(echo "$json" | jq -r .tag_name | sed 's/^v//')
        
        echo "LATEST_VERSION=$latest_version" >> $GITHUB_ENV

    - name: Check current version
      run: |
        current_version=$(grep -m1 'version "' Casks/shaka-packager.rb | cut -d '"' -f 2)
        
        echo "Current: $current_version"
        echo "Latest: ${{ env.LATEST_VERSION }}"
        
        if [ "$current_version" = "${{ env.LATEST_VERSION }}" ]; then
          echo "SKIP_UPDATE=true" >> $GITHUB_ENV
        else
          echo "SKIP_UPDATE=false" >> $GITHUB_ENV
        fi

    - name: Update Cask file
      if: env.SKIP_UPDATE == 'false'
      run: |
        ver="${{ env.LATEST_VERSION }}"
        
        # URLs de téléchargement officielles
        url_arm="https://github.com/shaka-project/shaka-packager/releases/download/v${ver}/packager-osx-arm64"
        url_intel="https://github.com/shaka-project/shaka-packager/releases/download/v${ver}/packager-osx-x64"

        # Calcul SHA256
        echo "Calculating hashes..."
        sha_arm=$(curl -L -s "$url_arm" | sha256sum | awk '{ print $1 }')
        sha_intel=$(curl -L -s "$url_intel" | sha256sum | awk '{ print $1 }')

        # 1. update version
        sed -i "s/version \".*\"/version \"$ver\"/" Casks/shaka-packager.rb

        # 2. update SH1256
        sed -i "s/sha256 arm:   \".*\"/sha256 arm:   \"$sha_arm\",/" Casks/shaka-packager.rb
        sed -i "s/intel:  \".*\"/intel:  \"$sha_intel\"/" Casks/shaka-packager.rb

        # Commit et Push
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git commit -am "Update shaka-packager Cask to version $ver"
        git push
